footer .top { background: #081b30;}
footer .top > div { width: 1180px; margin: 0 auto; padding: 13px 0;}
footer .top > div ul { float: left;}
footer .top > div ul li { float: left; position: relative; padding: 0 19px 0 0;}
footer .top > div ul li:after {content: ""; position: absolute; right: 9px; top: 50%; margin-top: -4px; width: 1px; height: 8px; background: #70767a;}
footer .top > div ul li a { color:#fff; font-size: 13px; line-height: 45px;}
footer .top > div ul li:last-child:after { display: none;}
footer .top > div div { float: right;}
footer .top > div div p { display: inline-block; width: 242px; height: 45px;background: #2a3033; color: #fff;; text-align: center; line-height: 45px; font-size: 13px;}
footer .top > div div p strong { padding: 0 0 0 15px; font-size: 20px;}
footer .top > div div select { padding: 0 0 0 21px; width: 200px; height: 44px; color:#191919; font-size:12px; box-sizing: border-box; border:none; vertical-align:3px;}

footer .btm { padding: 40px 0 44px; background: #081b30; text-align: center;}
footer .btm img {width: 150px; height: 150px; margin-top: -30px; margin-bottom: -50px;display: block; margin-left: auto; margin-right: auto;}
footer .btm ul { padding: 32px 0 14px; }
footer .btm li { display: inline-block; position: relative; padding: 0 10px; color:#fff; font-size:14px;}
footer .btm li:after {content: ""; position: absolute; right: 0; top: 50%; margin-top: -4px; width: 1px; height: 8px; background: #70767a;}
footer .btm address { font-size: 14px; color:#fff;}