
        /* Always set the map height explicitly to define the size of the div
         * element that contains the map. */
        #map {
          width: 500px;
          height: 500px;
          margin-left: 1200px;
          margin-top: 250px;
        }
  
        /* Optional: Makes the sample page fill the window. */
        html,
        body {
          height: 500px;
          width: 500px;
          margin: 0;
          padding: 0;
        }

#logo{
  text-align: center;
}

#logo{
  margin-left: 700px;
  height: 100px;
  width: 200px;
  margin-top: 50px;
  position: relative;
}

#menu{
  margin-left: 1000px;
  height: 60px;
  width: 100px;
  margin-top: 50px;
  text-align: center;
  position: absolute; 
  
}