
.service_header {
    width: 100%;
    height: 80px;
    position: static;
    float: left;
    z-index: 10000;
    transition: background 0.3s ease-in 0s;
    top: 0;
}
.service_header .beyond_content{
    height: 60px;
    position: fixed;
    background: rgba(255, 255, 255, 0.9);
    box-sizing: border-box;
}

.service_header .wrap_inner {
    margin: 20px 50px 0;
    text-align: center;
}
.service_header .img_ico {
    background: url(/designSource/ico/Menu_icon_icon-icons.com_71858.svg) no-repeat;
    height: 45px;
    width: 45px;
}
.service_header.article .btn_menu, .service_header.cbt .btn_menu, .service_header.top .btn_menu {
    background-position: 0 0;
    border-radius: 0;
}
.service_header .btn_request, .service_header .btn_write {
    width: 64px;
    height: 28px;
    color: rgb(255, 255, 255);
    border: 1px solid #fcfcfc;
    background-color: coral;
    border-radius: 16px;
    line-height: 28px;
    font-size: 14px;
    font-weight: bold;
    font-family: 'Noto Sans Light',sans-serif;
    text-align: center;
    text-decoration: none;
}
.f_l{
    margin-top: 2px;
}
.f_c{
    width: 40px;
    margin: 0 auto;
    float: none;
}
.f_r{
    margin-top: -20px;
}